body {
	font: 16px 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 23px;
	color: #444;
	background-color:#f5f5f5;
	padding:0px;
	margin:0px;
}


#home {
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    position: relative;
    text-align: center;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .main-home {
    background: url('../images/react-icon-29\ \(3\).jpg') no-repeat;
    height: 90vh;
  }

  .kaplama {
    background: rgba(0,0,0,0.7 );
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .içerik-kutusu {
  width: 100%;
	float:left;
	padding:0px;
	margin:0 0 20px 0;
}
.içerik{
  padding: 2%;
	width:80%;
	margin:0px;
	float:left;
	background-color:#f5f5f5;
}	
.başlık{
	width:98%;
	padding:10px;
	border-bottom:2px solid #cbcbcb;
	font-size:24px; color:#242424;
}
.facebooklogo{
  border-radius: 40px;
 float: right;
 padding: 10px;
  width: 400px;
  height: 200px;
}.facebooklogo1{
  border-radius:40px;
  float: left;
  padding: 10px;
   width: 400px;
   height: 200px;
 }