#textBody {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

#backgroundBody {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background: url(background.png);
    background-size: cover;
    background-color:#464646;
    object-fit: contain;
}

.fa {   
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;

    background: #120e07;
    color: #ffce54;
}

.fa:hover {
    opacity: 0.7;
}

.profilphoto{
    padding-top: 50px;
    background-repeat: no-repeat;
    width: 240px;
    height: 240px;
    object-fit:scale-down;
    border-radius: 80px;
}
.blink {
 
    animation: blinker 0.9s linear infinite;
    color:red;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    }
    @keyframes blinker {  
    50% { opacity: 0; }
    }   